language: node_js
node_js:
  - 16.13.1
cache: yarn

install:
  - yarn install

script:
  - yarn test
  - yarn build

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  skip_cleanup: true
  local_dir: build
  on:
    branch: main
